body {
    background-color: rgb(229, 143, 68);
}

.frame {
    height: 600px;
    width: 400px;
    padding: 2px;
    border-radius: 3%;


    border: solid rgb(18, 4, 4);
    background-color: rgb(31, 191, 219);
    z-index: 1;
    position: relative;

    box-shadow: 15px 20px 5px;
    left: 20vh;
    top: 50px;
}

.name {
    font-weight: bold;
    font-style: inherit;
    position: relative;
    color: rgb(152, 6, 6);

    top: 18px;
    left: 110px;
}

.usename {
    font-size: 23px;
    position: relative;
    top: 50px;
    left: 40px;
    line-height: 1.8;

    font-weight: bold;

}

.hp {
    position: relative;
    top: 50px;
    left: 40px;
    width: 200px;
}

.pass {
    position: relative;
    left: 40px;
    top: 70px;
    line-height: 1.3;
    font-size: 23px;
    font-weight: bold;
}

.gender {
    position: relative;
    left: 40px;
    top: 110px;
    font-weight: bold;
    font-size: 20px;
}

.remember {
    position: relative;
    left: 40px;
    top: 170px;
    font-weight: bold;
    font-size: 20px;
}

.forget {
    position: relative;
    left: 50px;
    top: 190px;
    z-index: ;

}

.submit {
    height: 30px;
    width: 320px;
    border-radius: 2px;
    position: relative;
    top: 240px;
    border-radius: 55px;
    left: 40px;
    background-color: rgb(33, 221, 16);
    border: solid rgb(32, 5, 5);
    border-radius:

}

.namelink {
    position: relative;
    top: -13px;
    left: 130px;
    font-size: 10px;
}

.link {
    position: relative;
    top: -180px;
    left: 290px;
    font-size: 20px;
    color: rgb(113, 67, 192);
}

/* .frame1{ */
/* background-color: chocolate;
    /* border: 2px; */
/* z-index: 1; */
/* width: 100vw;
    height: 20vh; */

/* }*/
*/